<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.username %>'s Shelf</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

  <h1><%= user.username %>'s Shelf</h1>

  <div class="button-container">
    <form action="/users" method="GET" style="display:inline">
      <button type="submit" class="community-button">Back to Community</button>
    </form>
  </div>

  <ul class="shelf-list">
    <% if(user.shelf.length === 0) { %>
      <li>This Shelf is empty.</li>
    <% } else { %>
      <% user.shelf.forEach(item => { %>
        <li><%= item.name %></li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>