<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Item</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Add a New Item</h1>

    <form action="/users/<%= user._id %>/comics" method="POST">
      <label for="name">Comic Title:</label>
      <input type="text" name="name" id="name" required />
      <button type="submit" class="add-item">Add Item</button>
    </form>
  </body>
</html>